.form-register {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    column-count: 1;
}

.infoServi {
    height: 100%;
    width: 100%;
}

.contentButton {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}